@import "../../../../styles/global.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery button:focus {
  outline: none;
}

.otravo-detail-image {
  @media (orientation:landscape) {
    height: 87vh;
  }

  @media (orientation:portrait) {
    height: 50vh;
  }

  overflow: hidden;
}

.otravo-detail-image img{
  @media (orientation:landscape) {
    height: 100vh;
  }

  @media (orientation:portrait) {
    width: 100vh;
  }
}

.fullscreen .otravo-detail-image {
  height: 100vh !important;
}

.otravo-detail-images-main-image {
  @media (min-width: $screen-md) {
    padding-right: 10px !important;
  }

  @media (max-width: $screen-md) {
    padding-bottom: 10px !important;
  }
}

.otravo-detail-images-second-image {
  @media (min-width: $screen-md) {
    padding-bottom: 10px !important;
  }

  @media (max-width: $screen-md) {
    padding-right: 10px !important;
  }
}

