@import "../../../styles/global.scss";

.otravo-content-section {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.otravo-content-section-border {
  border-top: 1px solid $boxBorderColor;
}

.otravo-accommodation-name {
  padding-right: 10px;
}