@import "../../../../../styles/global.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery button:focus {
  outline: none;
}

.image-gallery-right-nav {
  padding: 0;
  padding-right: 15px;
}

.image-gallery-right-left {
  padding: 0;
  padding-left: 15px;
}