@import "../../../../../styles/global.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery button:focus {
  outline: none;
}

.image-gallery-right-nav {
  padding: 0;
  padding-right: 15px;
}

.image-gallery-right-left {
  padding: 0;
  padding-left: 15px;
}

.otravo-detail-room-image {
  @media (orientation:landscape) {
    height: 40vh;
  }

  @media (orientation:portrait) {
    height: 40vh;
  }

  overflow: hidden;
}

.otravo-detail-room-image img{
  @media (orientation:landscape) {
    height: 40vh;
  }

  @media (orientation:portrait) {
    width: 60vh;
  }
}

.fullscreen .otravo-detail-room-image {
  height: 100vh !important;
}

.fullscreen .otravo-detail-room-image img{
  height: 100vh !important;
}
